<% if params[:show].present? %>
  <h3>Records:</h3>
  <% @records.each do |record| %>
    <p><%= render 'record', record: record %></p>
  <% end %>
<% end %>
<br><hr><br>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Cut Off</th>
      <th>Open</th>
    </tr>
  </thead>
  <tbody>
    <% visa_bulletin_loop do |current, previous| %>
      <tr>
        <td><%= "#{current.uuid[4..-1]}/#{current.uuid[0..3]}" %></td>
        <td><%= render 'visa_bulletin', current: current, previous: previous, data_type: :cut_off_dates %></td>
        <td><%= render 'visa_bulletin', current: current, previous: previous, data_type: :openning_dates %></td>
      </tr>
    <% end %>
  </tbody>
</table>
