- if current_user
  .compact-sidebar.has-shadow
    %nav.side-navbar.box-scroll.sidebar-scroll
      %ul.list-unstyled
        %li
          %a{:href => "/ui"}
            %i.ti.ti-receipt
            %span Records
        %li
          %a{:href => "javascript:;"}
            %i.ti.ti-calendar
            %span Visa Bulletins
        %li
          %a{:href => "javascript:;"}
            %i.ti.ti-stats-up
            %span Statistics
