.compact-sidebar.has-shadow
  / Begin Side Navbar
  %nav.side-navbar.box-scroll.sidebar-scroll
    / Begin Main Navigation
    %ul.list-unstyled
      %li
        %a{:href => "/ui"}
          %i.ti.ti-receipt
          %span Newsfeed
      %li
        %a{:href => "javascript:;"}
          %i.ti.ti-comments
          %span Messages
      %li
        %a{:href => "javascript:;"}
          %i.ti.ti-user
          %span Friends
      %li
        %a{:href => "javascript:;"}
          %i.ti.ti-world
          %span Groups
      %li
        %a{:href => "javascript:;"}
          %i.ti.ti-calendar
          %span Events
      %li
        %a{:href => "javascript:;"}
          %i.ti.ti-headphone
          %span Musics
      %li
        %a{:href => "javascript:;"}
          %i.ti.ti-gallery
          %span Images
      %li
        %a{:href => "javascript:;"}
          %i.ti.ti-control-play
          %span Videos
      %li
        %a{:href => "javascript:;"}
          %i.ti.ti-stats-up
          %span Statistics
      %li
        %a{:href => "javascript:;"}
          %i.la.la-angle-left
          %span Go Back
    / End Main Navigation
  / End Side Navbar
